<h2>Track Expenses</h2>
<a routerLink="/">Click here to home page</a>
<table class="my-table">
    <thead class="my-table headers">
        <tr>
            <th *ngFor="let column of config">{{column}}</th>
        </tr>
    </thead>
    <tbody class="my-table body">
        <tr *ngFor="let row of getAddedExpensesApi | async; index as rowIndex">
            <td> {{row.expense}}</td>
            <td>{{row.amount}}</td>
        </tr>

    </tbody>

</table>
<strong>Total expenses upto : {{total}}</strong>