<h2>Add expenses</h2>

<div>

    <form #expenseForm="ngForm" (ngSubmit)="onSubmit(expenseForm.value)">
        <input type="text" name="expense" placeholder="Expense" ngModel />
        <input type="number" name="amount" placeholder="Amount" ngModel />
        <input hidden type="number" name="id" placeholder="Amount" ngModel />
        <button type="submit" class="button-1">Add</button>
        <a *ngIf="exchangeTrackerService.addedExpenses.length > 0" class="button-1"
            routerLink="/track-expenses">Calc</a>

    </form>
</div>

<div>
    <table class="my-table">
        <thead class="my-table headers">
            <tr>
                <th *ngFor="let column of config">{{column}}</th>
            </tr>
        </thead>
        <tbody class="my-table body">
            <tr *ngFor="let row of exchangeTrackerService.addedExpenses; index as rowIndex">
                <td> {{row.expense}}</td>
                <td>{{row.amount}}</td>
                <td>
                    <button (click)="onEdit(row)">Edit</button>
                    <span (click)="deleteExpense(row)">
                        <svg x="0px" y="0px" width="18" height="18" viewBox="0 0 25 25">
                            <path
                                d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z">
                            </path>
                        </svg>
                    </span>
                    <div>

                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>